<!-- INCLUDE page_header.html -->
<form method="post" action="upgrade.php?run">
<table width="100%" border="0" cellspacing="1" cellpadding="2">
  <tr>
    <th align="center">{L_EQDKP_UPGRADE}</th>
  </tr>
  <tr>
    <td class="row1" align="center">
    <!-- IF S_SELECTVERSION -->
    <select name="eqdkp_version">
      <br />{L_UPGRADE_INSTRUCTION}<br /><br />
      <!-- BEGIN version_row -->
      <option value="{version_row.VERSION}">{version_row.VERSION}</option>
      <!-- END version_row -->
    </select><br /><br />
    <!-- ELSE -->
      <br />{L_UPGRADE_INSTRUCTION}<br /><br />
    <!-- ENDIF -->
    </td>
  </tr>
  <tr>
    <th><input type="submit" name="upgrade" value="{L_UPGRADE}" class="mainoption" /></th>
  </tr>
</table>
</form>
<!-- INCLUDE page_tail.html -->