<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />

<title>EQdkp Installation - {INSTALL_PHASE}</title>

<link href="{EQDKP_ROOT_PATH}templates/install/admin.css" rel="stylesheet" type="text/css" media="screen" />
</head>

<body>

<div id="wrap">
	<div id="page-header">
		<h1>EQdkp Installation</h1>
        <h2>{INSTALL_PHASE}</h2>
	</div>
	
	<div id="page-body">
		<div id="tabs">
			<ul>
				<li>&nbsp;</li>
			</ul>
		</div>

		<div id="acp">
		<div class="panel">
			<span class="corners-top"><span></span></span>
				<div id="content">
					<div id="menu">
						<ul>
						<!-- BEGIN l_block1 -->
							<li<!-- IF l_block1.S_SELECTED --> id="activemenu"<!-- ENDIF -->><a href="{l_block1.U_TITLE}"><span>{l_block1.L_TITLE}</span></a></li>
						<!-- END l_block1 -->
						<!-- BEGIN l_block2 -->
							<li<!-- IF l_block2.S_SELECTED --> id="activemenu"<!-- ENDIF -->><span<!-- IF l_block2.S_COMPLETE --> class="completed"<!-- ENDIF -->>{l_block2.L_TITLE}</span></li>
						<!-- END l_block2 -->
						</ul>
					</div>
	
					<div id="main">
