<!-- INCLUDE install_header.html -->

<form name="post" method="post" action="{U_ACTION}">

<!-- IF TITLE --><h1>{TITLE}</h1><!-- ENDIF -->
<!-- IF BODY --><p>{BODY}</p><!-- ENDIF -->

<!-- IF S_CHECKS -->
<fieldset>
<!-- BEGIN checks -->
    <!-- IF checks.S_LEGEND -->
    <legend>{checks.LEGEND}</legend>
    <!-- IF checks.LEGEND_EXPLAIN --><p>{checks.LEGEND_EXPLAIN}</p><!-- ENDIF -->
    <!-- ELSE -->
        <dl>
            <dt>{checks.TITLE}:<!-- IF checks.S_EXPLAIN --><br /><span class="explain">{checks.TITLE_EXPLAIN}</span><!-- ENDIF --></dt>
            <dd>{checks.RESULT}</dd>
        </dl>
    <!-- ENDIF -->
<!-- END checks -->
</fieldset>
<!-- ENDIF -->

<!-- IF S_OPTIONS -->
<fieldset>    
<!-- BEGIN options -->
    <!-- IF options.S_LEGEND -->
        <!-- IF options.S_FIRST_ROW -->
</fieldset>

<fieldset>
        <!-- ENDIF -->
    <legend>{options.LEGEND}</legend>
    <!-- ELSE -->

        <dl>
            <dt><label for="{options.KEY}">{options.TITLE}:</label><!-- IF options.S_EXPLAIN --><br /><span class="explain">{options.TITLE_EXPLAIN}</span><!-- ENDIF --></dt>
            <dd>{options.CONTENT}</dd>
        </dl>

    <!-- ENDIF -->
<!-- END options -->
</fieldset>
<!-- ENDIF -->

<!-- IF MSG_TEXT != '' -->
<div class="message">
    <!-- IF MSG_TITLE --><h2>{MSG_TITLE}</h2><!-- ENDIF -->
    <p>{MSG_TEXT}</p>
</div>
<!-- ENDIF -->

<!-- IF L_SUBMIT -->
	<fieldset class="submit-buttons">
		<legend>{L_SUBMIT}</legend>
		{S_HIDDEN}
		<input type="submit" name="submit" id="submit" value="{L_SUBMIT}" class="button1" />
	</fieldset>
<!-- ENDIF -->
</form>

<!-- INCLUDE install_tail.html -->